body{
	padding: 0px;
	margin: 0px;
	font-family: Arial;
	font-style: 12px;
	background-color: #3b3b3b;
}
.wrap{
	width: 960px;
	margin: auto;
}
.header{
	width: 960px;
	height: 77px;
	background-image: url('../images/header_top.jpg');
	margin: 0px;
	padding: 0px;
}
.header .right{
	width: 850px;
	float: left;
}
.header .right ul{
	padding: 0px;
	margin: 0px;
	list-style: none;
	text-align: right;
}
.header .right ul li{
	display: inline;
}
.header .right ul li a{
	text-decoration: none;
	color: green;
	padding: 10px;
}
.header .right ul li a:hover{
	color: red;
}
.menu{
	background-image: url('../images/menu.jpg');
	height: 70px;
	text-align: center;
}
.menu ul{
	padding: 25px;
	margin: 0px;
	list-style: none;
}

.menu ul li{
	display: inline;
	line-height: 15px;
}
.menu ul li a{
	text-align: center;
	color: black;
	text-decoration: none;
	font-weight: bold;
	padding: 10px;
}
.menu ul li a:hover{
	color: red;
}
.box{
	width: 880px;
	height: 360px;
	margin: auto;
}
.box img{
	width: 880px;
	height: 360px;
}
.box ul{
	padding: 0px;
	margin: 0px;
	list-style: none;
}
.box ul li{
	display: inline;
}
.banner{
	height: 450px;
	background-color: #ffffff;
}
#slide{
	text-align: center;
}
#slide img{
	padding-top: 50px;
	width: 880px;
	height: 360px;
}
.main{
	background-color: #ffffff;
	padding-left: 10px;
	padding-bottom: 10px;
	padding-right: 5px;
}
.main .main_bor
{
	margin-left: 10px;
	margin-right: 10px;
	border: 1px solid #dddddd;
	padding: 10px 10px 10px 10px;
}
.footer{
	padding-top: 10px;
	height: 80px;
	margin-top: 2px;
	color: black;
	padding-left: 10px;
	background-color: #b37a4d;
	text-align: center;
}
